.container{
    background-color: #23282E;
    padding: 3rem 10rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.header{
    color: white;
    font-weight: 700 !important;
    font-size: 1.5rem !important;
}

.divider {								/* minor cosmetics */
    display: table; 
    font-size: 24px; 
    text-align: center; 
    width: 75%; 						/* divider width */
    margin: 10px auto;					/* spacing above/below */
}
.divider span { display: table-cell; position: relative; }
.divider span:first-child, .divider span:last-child {
    width: 50%;
    top: 13px;							/* adjust vertical align */
    -moz-background-size: 100% 2px; 	/* line width */
    background-size: 100% 2px; 			/* line width */
    background-position: 0 0, 0 100%;
    background-repeat: no-repeat;
}
.divider span:first-child {				/* color changes in here */
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), to(rgb(255, 255, 255)));
    background-image: -webkit-linear-gradient(180deg, transparent, rgb(255, 255, 255));
    background-image: -moz-linear-gradient(180deg, transparent, rgb(255, 255, 255));
    background-image: -o-linear-gradient(180deg, transparent, rgb(255, 255, 255));
    background-image: linear-gradient(90deg, transparent, rgb(255, 255, 255));
}
.divider span:nth-child(2) {
    color: #000; padding: 0px 5px; width: auto; white-space: nowrap;
}
.divider span:last-child {				/* color changes in here */
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgb(255, 255, 255)), to(transparent));
    background-image: -webkit-linear-gradient(180deg, rgb(255, 255, 255), transparent);
    background-image: -moz-linear-gradient(180deg, rgb(255, 255, 255), transparent);
    background-image: -o-linear-gradient(180deg, rgb(255, 255, 255), transparent);
    background-image: linear-gradient(90deg, rgb(255, 255, 255), transparent);
}

.subtitle{
    color:#d9d9d9;
    font-size: 0.8rem !important;
    margin-bottom: 1rem !important;
}

.container{
    padding: 1rem 0.3rem;
}