.container {
  background-color: #23282e;
  color: #d9d9d9 !important;
  padding: 7rem 1rem;
}
.header {
  display: flex;
  padding: 0 5rem;
  align-items: center;
  justify-content: center;
}
.headerLeft {
  margin-right: 1rem;
}
.headerLeft p {
  width: fit-content;
  font-size: 1.5rem;
}
.headerRight {
  flex: 3;
}
.box {
  height: 1.2rem;
  background: #33ffa8;
  border-radius: 10px;
}

.mainContent {
  margin: auto;
  /* padding: 4rem; */
  display: flex;
  justify-content: center;
}
.leftContent {
  display: flex;
  margin: 1rem;
}
.mark {
  height: fit-content;
}
.mark2 {
  height: fit-content;
  transform: rotate(180deg);
  align-self: flex-end;
  width: fit-content;
}
.wisdom {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  margin-left: 1rem;
}
.quotes {
  width: 18rem;
  font-style: italic;
}

.about {
  width: 23rem;
}

.author {
  font-weight: lighter !important;
  font-size: small !important;
  /* text-align: end !important; */
}

.rightContent {
  margin: 1rem;
}

@media only screen and (max-width: 800px) {
  .mainContent {
    flex-direction: column-reverse;
  }
  .rightContent p {
    margin: auto;
    text-align: justify;
  }
  .leftContent {
    margin: auto;
    text-align: justify;
  }
  .wisdom{
      margin-left: 5px;
  }
  /* .mark, .mark2{
      display: none;
  } */
  .about {
    width: auto;
  }
}


@media only screen and (max-width: 400px){
      .mark, .mark2{
      display: none;
  }
}