.container{
    background: url("../../assets/me.png");
    background-attachment: fixed;
    background-clip: border-box;
    background-position: inherit;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-color: #9FB2B4;
    width: 100%
}

.header{
    margin-top: 2rem;
    display: grid;
    place-items: end;
    justify-content: flex-end;
    padding: 2rem 3rem;
}
.name{
    color: white !important;
    font-size: 4rem !important;
    font-weight: 600 !important;
    text-align: end;
    width: fit-content;
}
.info{
    color: white !important;
    width: 40rem;
    text-align: end;
}

.socials{
    margin: 1rem 2rem;
    display: flex;
    justify-content: space-evenly;
    width: 17rem;
}
.socials img{
    width: 2rem;
}

@media only screen and (max-width: 850px) {
    .container{
        text-align: center;
    }
    .header{
        display: inline-grid;
    }
    .name{
        font-size: 2.5rem !important;
        justify-self: center !important;
    }
    .info{
        font-size: small !important;
        width: 20rem;
        justify-self: center;
        text-align: center;
        /* text-align-last: left */
    }
    .socials{
        width: auto;
    }
    .socials img{
        margin: 0 1rem;
    }
    .container{
        background-position: top;
    }
}

@media only screen and (max-width: 426px){
    .header{
        padding: 0;
    }
    .name{
        font-size: 2rem !important;
    }
}