.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    position: sticky;
}
.menu{
    display: flex;
    width: 25rem;
    justify-content: space-evenly;
    color: #9FB2B4 !important;
}
.logo{
    margin: 0 0.3rem;
    width: 3.5rem;
    height: auto;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }