.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    position: fixed;
    width: inherit;
    background-color: transparent;
}

.containerActive{
    background-color: rgba(0, 0, 0, 0.623);
    /* background: rgb(8,52,94); */
    /* background: linear-gradient(159deg, rgba(8,52,94,1) 0%, rgba(120,185,89,0.9556197478991597) 100%); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    position: fixed;
    width: inherit;
    z-index: 1;
}
.menu{
    display: flex;
    width: 25rem;
    justify-content: space-evenly;
    color: white !important;
}

.menu p:hover{
    color: rgb(126, 213, 235);
    cursor: pointer;
}
.logo{
    margin: 0 0.3rem;
    width: 3.5rem;
    height: auto;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


@media only screen and (max-width: 610px) {
    .container, .containerActive{
        flex-direction: column;
    }
    .menu{
        margin: 0.5rem;
        width: 20rem;
    }
}