.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    position: sticky;
}
.menu{
    display: flex;
    width: 25rem;
    justify-content: space-evenly;
    color: white !important;
}

.menu p:hover{
    color: teal;
    cursor: pointer;
}
.logo{
    margin: 0 0.3rem;
    width: 3.5rem;
    height: auto;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


@media only screen and (max-width: 610px) {
    .container{
        flex-direction: column;
    }
    .menu{
        width: 20rem;
    }
}