.container{
    padding: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #000000;
    height: 10rem;
    align-items: center;
}

.copyRight{
    font-size: small !important;
    color: rgb(180, 180, 180) !important;
}